@using Microsoft.Extensions.Localization

@inject IStringLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <h1 class="display-4">@Localizer["Welcome {0}", Localizer["Mary"]]</h1>
</div>
